.header {
    /*display: block;*/
    /*display: inline;*/
    width: 100%;            /* ширина */
    height: 100px;         /* Высота */
    /*overflow: scroll;       /* Добавляем полосы прокрутки */
    background: #fc0;       /*цвет фона*/
    border: 4px dotted black;
}

h1 {
    text-align: center;
    background-color: #999999;
}

.up_menu {
     width: 100%;                   /* ширина */
     background-color: 	#ffa500;       /*цвет фона*/
/*    margin: 15px 10px;*/
/*    margin-top: 10%;*/
/*    padding: 2px;*/
/*    border: 4px dotted black;*/
}
.flash {
    padding: 10px;
}

.flash.delete{
    border: 1px solid red;
    background: #F08080;
}

.flash.success {
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.form-post {
    padding: 5px;
}

textarea {
    width: 50%; /* ширина */
    height: 200px; /* высота */
}

input {
    width: 50%; /* ширина */
    margin: 10px 0px;
    background:#FFEBCD;
}